/* App  */

:root {
  --main-color-dark: rgb(196, 196, 196);
  --main-color-mid: rgb(225, 225, 225);
  --main-color-light: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hawk-reference {
  display: flex;
}

/* Details */

.hawk-details-hide {
  display: none;
}

.hawk-details {
  display: initial;
  width: 100%;
}

/* Table */

.hawk-table {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-columns: 4fr 2fr 1fr 1fr;
  grid-template-areas: "addButton . . ." "inputFilter . . ." "nameFilter sizeFilter genderFilter ." "table table table table";
  width: 100%;
  padding: 2%;
}

.add-button {
  grid-area: addButton;
  background-color: var(--main-color-dark);
  width: 150px;
  height: 50px;
}

.filter-input {
  grid-area: inputFilter;
  width: 80%;
  display: flex;
  padding: 1%;
  background-color: var(--main-color-mid);
  margin: 2%;
  margin-left: 0;
}

.filter-input input {
  width: 80%;
}

.filter-input button {
  width: 20%;
}

.filter-button {
  background-color: var(--main-color-dark);
}

.name-filter {
  grid-area: nameFilter;
}

.size-filter {
  grid-area: sizeFilter;
}

.gender-filter {
  grid-area: genderFilter;
}

.table {
  grid-area: table;
  list-style: none;
  margin: 1% 0;
}

.table .table-row {
  background-color: var(--main-color-light);
}

.table .table-row:nth-child(2) {
  background-color: var(--main-color-mid);
}

.table .table-row .name {
  display: inline-block;
  width: 50%;
}

.table .table-row .size {
  display: inline-block;
  width: 25%;
}

.table .table-row .gender {
  display: inline-block;
  width: 12.5%;
}

.table .table-row button {
  display: inline-block;
  width: 12.5%;
}
