/* App  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}

/* Details */

.hawk-details {
  display: none;
}

/* Table */

.hawk-table {
  display: grid;
  background-color: red;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-columns: 4fr 2fr 1fr 1fr;
  grid-template-areas: "addButton . . ." "inputFilter . . ." "nameFilter sizeFilter genderFilter ." "table table table table";
  width: 100%;
  padding: 2%;
}

.add-button {
  grid-area: addButton;
  width: 150px;
  height: 50px;
}

.filter-input {
  grid-area: inputFilter;
  width: 80%;
  display: flex;
}

.filter-input input {
  width: 80%;
}

.filter-input button {
  width: 20%;
}

.name-filter {
  grid-area: nameFilter;
}

.size-filter {
  grid-area: sizeFilter;
}

.gender-filter {
  grid-area: genderFilter;
}

.table {
  grid-area: table;
  background-color: green;
}

.table .table-row .name {
  display: inline-block;
  width: 50%;
}

.table .table-row .size {
  display: inline-block;
  width: 25%;
}

.table .table-row .gender {
  display: inline-block;
  width: 12.5%;
}

.table .table-row button {
  display: inline-block;
  width: 12.5%;
}
